# output dir
output
instant_test_output
inference_test_output
.vscode/

*.jpg
*.txt

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
cvpods.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

/cvpods/model_zoo/configs

# project dirs
/models
tools/pods_*
**/_build
#
# soft link
**/log
.DS_Store
